html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
.flower {
    width: 500px;
    height: 500px;
    position: relative;
}
.flower1 {
    animation: fadeIn 25s ease;
}
.flower2 {
    animation: fadeIn 20s ease;
}
.flower3 {
    animation: fadeIn 25s ease;
}
.flower4 {
    animation: fadeIn 15s ease;
}
.flower5 {
    animation: fadeIn 10s ease;
}
.flower6 {
    animation: fadeIn 5s ease;
}
.flower7 {
    animation: fadeIn 29s ease;
}
.flower8 {
    animation: fadeIn 31s ease;
}
.ball1 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.ball {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: 2px solid rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 16px rgba(255, 0, 0, 0.3);
    box-shadow: white;
}
.ball2 {
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.ball3 {
    border: 2px solid rgba(255, 82, 111, 0.5);
    box-shadow: 0 0 16px rgba(255, 82, 111, 0.5);
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.ball1 {
    left: 125px;
}
.ball02 {
    left: 125px;
    top: 250px;
}
.ball03 {
    top: 125px;
}
.ball4 {
    left: 250px;
    top: 125px;
}
.ball5 {
    left: 36px;
    top: 36px;
}
.ball6 {
    left: 213px;
    top: 213px;
}
.ball7 {
    left: 214px;
    top: 36px;
}
.ball8 {
    left: 36px;
    top: 213px;
}
.ball9 {
    left: 110px;
    bottom: 245px;
    width: 280px;
    height: 280px;
}
.ball10 {
    left: 110px;
    top: 250px;
    width: 280px;
    height: 280px;
}
.ball11 {
    top: 110px;
    width: 280px;
    height: 280px;
    left: -30px;
}
.ball12 {
    left: 250px;
    top: 110px;
    width: 280px;
    height: 280px;
}
.ball13 {
    left: 10px;
    top: 10px;
    width: 280px;
    height: 280px;
}
.ball14 {
    left: 210px;
    top: 210px;
    width: 280px;
    height: 280px;
}
.ball15 {
    left: 214px;
    top: 10px;
    width: 280px;
    height: 280px;
}
.ball16 {
    left: 10px;
    top: 210px;
    width: 280px;
    height: 280px;
}
.ball17 {
    left: 118px;
    bottom: 245px;
    width: 265px;
    height: 265px; 
}
.ball18 {
    left: 118px;
    top: 250px;
    width: 265px;
    height: 265px;
}
.ball19 {
    top: 117px;
    width: 265px;
    height: 265px;
    left: -15px;
}
.ball20 {
    left: 250px;
    top: 117px;
    width: 265px;
    height: 265px;
}
.ball21 {
    left: 23px;
    top: 23px;
    width: 265px;
    height: 265px;
}
.ball22 {
    left: 210px;
    top: 210px;
    width: 265px;
    height: 265px;
}
.ball23 {
    left: 214px;
    top: 23px;
    width: 265px;
    height: 265px;
}
.ball24 {
    left: 23px;
    top: 210px;
    width: 265px;
    height: 265px;
}
.ball25 {
    left: 103px;
    bottom: 245px;
    width: 295px;
    height: 295px; 
}
.ball26 {
    left: 103px;
    top: 250px;
    width: 295px;
    height: 295px;
}
.ball27 {
    top: 105px;
    width: 295px;
    height: 295px;
    left: -45px;
}
.ball28 {
    left: 250px;
    top: 105px;
    width: 295px;
    height: 295px;
}
.ball29 {
    left: -3px;
    top: -3px;
    width: 295px;
    height: 295px;
}
.ball30 {
    left: 211px;
    top: -5px;
    width: 295px;
    height: 295px;
}
.ball31 {
    left: 210px;
    top: 210px;
    width: 295px;
    height: 295px;
}
.ball32 {
    left: -5px;
    top: 209px;
    width: 295px;
    height: 295px;
}
.ball33 {
    width: 314px;
    height: 314px;
    top: -20px;
    left: 205px;
}
.ball34 {
    width: 314px;
    height: 314px;
    top: 207px;
    left: 203px;
}
.ball35 {
    width: 314px;
    height: 314px;
    top: 95px;
    left: 250px;
}
.ball36 {
    width: 314px;
    height: 314px;
    top: 251px;
    left: 93px;
}
.ball37 {
    width: 314px;
    height: 314px;
    top: 205px;
    left: -20px;
}
.ball38 {
    width: 314px;
    height: 314px;
    top: 97px;
    left: -65px;
}
.ball39 {
    width: 314px;
    height: 314px;
    top: -20px;
    left: -20px;
}
.ball40 {
    width: 314px;
    height: 314px;
    top: -65px;
    left: 93px;
}
.ball41 {
    width: 330px;
    height: 330px;
    top: -35px;
    left: 205px;
}
.ball42 {
    width: 330px;
    height: 330px;
    top: 88px;
    left: 250px;
}
.ball43 {
    width: 330px;
    height: 330px;
    top: 205px;
    left: 200px;
}
.ball44 {
    width: 330px;
    height: 330px;
    top: 250px;
    left: 85px;
}
.ball45 {
    width: 330px;
    height: 330px;
    top: 200px;
    left: -35px;
}
.ball46 {
    width: 330px;
    height: 330px;
    top: 90px;
    left: -80px;
}
.ball47 {
    width: 330px;
    height: 330px;
    top: -35px;
    left: -35px;
}
.ball48 {
    width: 330px;
    height: 330px;
    top: -80px;
    left: 85px;
}
.ball49 {
    width: 230px;
    height: 230px;
    top: 20px;
    left: 135px;
}
.ball50 {
    width: 230px;
    height: 230px;
    top: 50px;
    left: 220px;
}
.ball51 {
    width: 230px;
    height: 230px;
    top: 140px;
    left: 250px;
}
.ball52 {
    width: 230px;
    height: 230px;
    top: 220px;
    left: 220px;
}
.ball53 {
    width: 230px;
    height: 230px;
    top: 250px;
    left: 135px;
}
.ball54 {
    width: 230px;
    height: 230px;
    top: 220px;
    left: 50px;
}
.ball55 {
    width: 230px;
    height: 230px;
    top: 50px;
    left: 50px;
}
.ball56 {
    width: 230px;
    height: 230px;
    top: 139px;
    left: 20px;
}
.ball57 {
    width: 210px;
    height: 210px;
    top: 40px;
    left: 145px;
}
.ball58 {
    width: 210px;
    height: 210px;
    top: 70px;
    left: 220px;
}
.ball59 {
    width: 210px;
    height: 210px;
    top: 150px;
    left: 250px;
}
.ball60 {
    width: 210px;
    height: 210px;
    top: 65px;
    left: 65px;
}
.ball61 {
    width: 210px;
    height: 210px;
    top: 220px;
    left: 220px;
}
.ball62 {
    width: 210px;
    height: 210px;
    top: 250px;
    left: 145px;
}
.ball63 {
    width: 210px;
    height: 210px;
    top: 225px;
    left: 70px;
}
.ball64 {
    width: 210px;
    height: 210px;
    top: 150px;
    left: 40px;
}
/*animation
@keyframes color-change {
    0%{background: rgba(252, 83, 193, 0.3);}
    10%{background: rgba(252, 83, 193, 0.7);}
    20%{background: rgba(252, 193, 83, 0.7);}
    40%{background: rgba(252, 193, 83, 0.3);}
    50%{background: rgba(83, 193, 252, 0.3);}
    60%{background: rgba(83, 193, 252, 0.7);}
    70%{background: rgba(193, 83, 252, 0.7);}
    80%{background: rgba(193, 83, 252, 0.3);}
    90%{background: rgba(193, 252, 83, 0.3);}
    100%{background: rgba(193, 252, 83, 0.7);}
}
*/
@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*@keyframes glow {
    0% {
        border-color: rgba(225, 0, 0, 0.5);
        box-shadow: 0 0 16px rgb(225, 0, 51, 0.5);
    }
    100% {
        border-color: rgba(225, 0, 0, 0.1);
        box-shadow: 0 0 16px rgb(225, 0, 0, 0.1);
    }
}
*/
